# Core functionality - changes here should be rare!
/src/app.py                   @vikpires
/src/backend/database.py      @vikpires
/src/backend/routers/auth.py  @vikpires

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vikpires
